# Dependencies list

# Essential for running jupyter notebooks
ipykernel

# Essential for for handling environment variables
python-dotenv

# Essential DS Oriented Libraries
pandas
numpy
scipy
pingouin
seaborn
plotly
matplotlib
feature-engine
nbformat

# Essential ML Oriented Libraries
scikit-learn
optuna
tensorflow
keras
